body
    position: relative
    background: #fff
#app_index
    position: relative
.content
    width: 100%
    // height: 100vh
    // overflow: scroll
    padding-bottom: 50px
    .header_search
        background: skyblue
        width: 100%
        height: 60px
        >.el-select
            width: 60%
            margin-left: 20px
            vertical-align: bottom
.rest_list
    width: 100%
    li:active
        background: #f0f0f0
    li
        width: 100%
        height: 80px
        padding: 10px
        box-sizing: border-box
        .rest_pic
            float: left
            width: 60px
            height: 60px
            border-radius: 5px
            border: 1px solid #ccc
            img
                width: 60px
                height: 60px
        .rest_text
            float: left
            margin-left: 20px
            h4
                line-height: 40px
                font-size: 16px
            p
                line-height: 20px
                font-size: 14px
        .rest_collect
            float: right
            margin-right: 10px
            width: 40px
            height: 60px
            span
                display: block
                margin-top: 15px
                margin-left: 5px
                width: 30px
                height: 30px
                background: url('../img/ico/like.png') no-repeat center
                background-size: 20px

#footer
    position: fixed
    bottom: 0
    width: 100%
    height: 50px
    z-index: 9999
    #footer_nav
        width: 100%
        height: 50px
        background: #f0f0f0
        a
            float: left
            width: 25%
            height: 50px
        >a:nth-of-type(1)
            background: url('../img/ico/home.png') no-repeat center center
            background-size: 40px
        >a:nth-of-type(1):active
            background-size: 50px
        >a:nth-of-type(2)
            background: url('../img/ico/shoppingcar.png') no-repeat center center
            background-size: 40px
        >a:nth-of-type(2):active
            background-size: 50px
        >a:nth-of-type(3)
            background: url('../img/ico/list.png') no-repeat center center
            background-size: 40px
        >a:nth-of-type(3):active
            background-size: 50px
        >a:nth-of-type(4)
            background: url('../img/ico/person.png') no-repeat center center
            background-size: 40px
        >a:nth-of-type(4):active
            background-size: 50px