<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        /* 适配iPhoneX底部导航条 */

        @media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
            #app_index {
                padding-bottom: 34px;
            }
        }
        
        .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }
  .el-carousel__item h3 img {
      width: 100%;
      height: 150px;
  }
  /* ::-webkit-scrollbar {
opacity: 0;
} */
    </style>
    <title>智慧餐厅</title>
</head>

<body>
    <div id="app_index">
        <div class="content">
            <div class="header_search">
                <el-select v-model="restName" placeholder="请选择就餐餐厅" size="large">
                    <el-option v-for="item in cities" :key="item.value" :label="item.label" :value="item.value">
                        <span style="float: left">{{ item.label }}</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
                    </el-option>
                </el-select>
                <el-button type="primary" icon="el-icon-star-on" style="background: #FF6A6A;height: 40px;border: none;margin-top: 10px;" @click="showMyRest($event)">我的最爱</el-button>
            </div>
            <div class="exhibition">
                    <el-carousel trigger="click" height="150px" arrow="nerver"> 
                      <el-carousel-item v-for="img in imgs" :key="img" arrow="nerver">
                        <h3><img :src=img alt=""></h3>
                      </el-carousel-item>
                    </el-carousel>
                  </div>
            <ul class="rest_list">
                 <li v-for="list in restLists" class="clearfix">
                    <div class="rest_pic">
                        <img :src=list.img alt="餐厅照片">
                    </div>
                    <div class="rest_text">
                        <h4>{{list.name}}</h4>
                        <p>{{list.comp}}</p>
                    </div>
                    <div class="rest_collect">
                        <span></span>
                    </div>
                 </li>
            </ul>
        </div>
        <footer id="footer">
                <nav id="footer_nav" class="clearfix">
                    <a></a>
                    <a></a>
                    <a></a>
                    <a></a>
                </nav>
            </footer>
    </div>
   
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <!-- 引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        document.body.addEventListener('touchstart', function () {});  
        var Main = {
            data() {
                return {
                    cities: [{
                        label: '青岛家用空调餐厅'
                    }, {
                        label: '创牌南-信息园GO'
                    }, {
                        label: '青岛创牌北餐厅'
                    }, {
                        label: '创牌北-通讯餐厅'
                    }, {
                        label: '青岛创牌南餐厅'
                    }, {
                        label: '青岛平板二期餐厅'
                    }],
                    restName: '',
                    imgs: [
                        'img/index/banner_1.jpg',
                        'img/index/banner_2.jpg',
                        'img/index/banner_3.jpg',
                        'img/index/banner_4.jpg'
                    ],
                    restLists: [
                        {
                            name: '青岛家用空调餐厅',
                            img: 'img/index/rest_1.jpg',
                            comp: '青岛健利源营养配餐管理有限公司'
                        }, {
                            name: '创牌南-信息园GO',
                            img: 'img/index/rest_2.jpg',
                            comp: '深圳市都乐门餐饮实业有限公司'                            
                        }, {
                            name: '青岛创牌北餐厅',
                            img: 'img/index/rest_3.jpg',
                            comp: '安徽蜀王美心餐饮管理有限责任公司'
                        }, {
                            name: '创牌北-通讯餐厅',
                            img: 'img/index/rest_4.jpg',
                            comp: '北京快可立餐饮管理有限公司'
                        }, {
                            name: '青岛创牌南餐厅',
                            img: 'img/index/rest_5.jpg',
                            comp: '大连雨禾企业服务有限公司'
                        }, {
                            name: '青岛平板二期餐厅',
                            img: 'img/index/rest_6.jpg',
                            comp: '北京为之味餐饮有限公司'
                        },
                        {
                            name: '青岛平板三期餐厅',
                            img: 'img/index/rest_7.jpg',
                            comp: '青岛好一家餐饮有限公司'
                        },
                        {
                            name: '青岛平板四期餐厅',
                            img: 'img/index/rest_8.jpg',
                            comp: '国际天食集团有限公司'
                        },
                        {
                            name: '青岛平板五期餐厅',
                            img: 'img/index/rest_9.jpg',
                            comp: '长沙一品佳餐饮管理有限公司'
                        }
                    ]
                }
            },
            methods: {
                showMyRest(){
                    if($(event.currentTarget).children('i').attr('class')=='el-icon-star-on'){
                        $(event.currentTarget).children('i').removeClass().addClass('el-icon-star-off')
                    } else {
                        $(event.currentTarget).children('i').removeClass().addClass('el-icon-star-on')
                    }
                }
            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#app_index')
    </script>
</body>

</html>