<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/pay/pay.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>车次预定</title>
    <style media="screen">
        body {
            min-width: 1200px;
            overflow: hidden;
            background: #fff;
        }
        .el-input {
            width: auto;
        }
        .el-row {
            margin: 60px 0;
        }
    </style>

</head>

<body>
    <div class="wrap">
        <div id="pay">
            <div id="pay-info">
                <h2>订单提交成功，请您尽快付款！</h2>
                <p>订单号：FO201704170002W</p>
                <P>应付金额：<span style="color:#bf0000;font-weight:700;font-size:20px">1280.00元</span></P>
                <p>选择非银联支付，不提供行程单、保险发票、配送费发票！</p>
            </div>
            <div id="wrapper">
                <div id="left-side">
                    <ul>
                        <li class="virtual active">
                            <div class="icon active">
                                <span class="virtual_pay"></span>
                            </div>
                            虚拟卡支付
                        </li>
                        <li class="wechat">
                            <div class="icon">
                                <span class="wechat_pay"></span>
                            </div>
                            微信支付
                        </li>
                        <!-- <li class="alipay">
                            <div class="icon">
                                <span class="ali_pay"></span>
                            </div>
                            支付宝支付
                        </li> -->
                    </ul>
                </div>

                <div id="border">
                    <div id="line" class="one"></div>
                </div>

                <div id="right-side">
                    <div id="first" class="active">
                        <el-row>
                            <el-col :span="8">
                                <span class="input_title">预订人：</span>
                                <el-input placeholder="请输入内容" v-model="input1">
                                </el-input>
                            </el-col>
                            <el-col :span="8">
                                    <span class="input_title">预订组织：</span>
                                <el-input placeholder="请输入内容" v-model="input2">
                                    </el-input>
                            </el-col>
                            <el-col :span="8">
                                    <span class="input_title">预订人企业：</span>
                                <el-input placeholder="请输入内容" v-model="input3">
                                </el-input>
                            </el-col>
                        </el-row>
                        <el-row>
                                <el-col :span="8">
                                        <span class="input_title">虚拟账号：</span>
                                        <el-input placeholder="请输入内容" v-model="input4">
                                        </el-input>
                                    </el-col>
                                    <el-col :span="8">
                                            <span class="input_title">剩余金额：</span>
                                        <el-input placeholder="请输入内容" v-model="input5">
                                            </el-input>
                                    </el-col>
                                    <el-col :span="8">
                                            <span class="input_title">本次支付金额：</span>
                                        <el-input placeholder="请输入内容" v-model="input6">
                                        </el-input>
                                    </el-col>
                        </el-row>
                        <div style="text-align:center"><el-button type="primary">下一步</el-button></div>
                    </div>
                    <div id="second" class="clearfix">
                        <div class="qr_code">
                            <img src="../img/pay/qrcode.png" alt="">
                            <div class="qr_code_text">
                                    <p>请使用微信扫一扫</p>
                                    <p>扫描二维码支付</p>
                            </div>
                        </div>
                        <div class="wechat_info">
                            <img src="../img/pay/phone-bg.png" alt="">
                        </div>
                    </div>
                    <div id="third">
                        <div class="icon big">
                            <svg viewBox="0 0 32 32">
                                <g filter="">
                                    <use xlink:href="#alipay"></use>
                                </g>
                            </svg>
                        </div>

                        <h1>We will alipay it</h1>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at viverra est, eu finibus mauris.
                            Quisque tempus vestibulum fringilla. Morbi tortor eros, sollicitudin eu arcu sit amet, aliquet
                            sagittis dolor. </p>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <!-- 引入 Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript">
        $(".virtual").click(function () {
            $(".virtual").addClass("active");
            $(".virtual > .icon").addClass("active");
            $(".wechat").removeClass("active");
            $(".alipay").removeClass("active");
            $(".ship").removeClass("active");
            $(".wechat > .icon").removeClass("active");
            $(".alipay > .icon").removeClass("active");
            $(".ship > .icon").removeClass("active");
            $("#line").addClass("one");
            $("#line").removeClass("two");
            $("#line").removeClass("three");
            $("#line").removeClass("four");
        })

        $(".wechat").click(function () {
            $(".wechat").addClass("active");
            $(".wechat > .icon").addClass("active");
            $(".virtual").removeClass("active");
            $(".alipay").removeClass("active");
            $(".ship").removeClass("active");
            $(".virtual > .icon").removeClass("active");
            $(".alipay > .icon").removeClass("active");
            $(".ship > .icon").removeClass("active");
            $("#line").addClass("two");
            $("#line").removeClass("one");
            $("#line").removeClass("three");
            $("#line").removeClass("four");
        })

        $(".alipay").click(function () {
            $(".alipay").addClass("active");
            $(".alipay > .icon").addClass("active");
            $(".wechat").removeClass("active");
            $(".virtual").removeClass("active");
            $(".ship").removeClass("active");
            $(".wechat > .icon").removeClass("active");
            $(".virtual > .icon").removeClass("active");
            $(".ship > .icon").removeClass("active");
            $("#line").addClass("three");
            $("#line").removeClass("two");
            $("#line").removeClass("one");
            $("#line").removeClass("four");
        })

        $(".ship").click(function () {
            $(".ship").addClass("active");
            $(".ship > .icon").addClass("active");
            $(".wechat").removeClass("active");
            $(".alipay").removeClass("active");
            $(".virtual").removeClass("active");
            $(".wechat > .icon").removeClass("active");
            $(".alipay > .icon").removeClass("active");
            $(".virtual > .icon").removeClass("active");
            $("#line").addClass("four");
            $("#line").removeClass("two");
            $("#line").removeClass("three");
            $("#line").removeClass("one");
        })

        $(".virtual").click(function () {
            $("#first").addClass("active");
            $("#second").removeClass("active");
            $("#third").removeClass("active");
            $("#fourth").removeClass("active");
        })

        $(".wechat").click(function () {
            $("#first").removeClass("active");
            $("#second").addClass("active");
            $("#third").removeClass("active");
            $("#fourth").removeClass("active");
        })

        $(".alipay").click(function () {
            $("#first").removeClass("active");
            $("#second").removeClass("active");
            $("#third").addClass("active");
            $("#fourth").removeClass("active");
        })

        $(".ship").click(function () {
            $("#first").removeClass("active");
            $("#second").removeClass("active");
            $("#third").removeClass("active");
            $("#fourth").addClass("active");
        })
        var first = {
            data() {
              return {
                input1: '',
                input2: '',
                input3: '',
                input4: '',
                input5: '',
                input6: ''
              }
            }
          }
          var Ctor = Vue.extend(first)
          new Ctor().$mount('#first')
    </script>
</body>

</html>