<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="../css/step_time.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui@1.4.8/lib/theme-default/index.css">
	<style media="screen">
		body {
			margin: 0;
		}

		.bg {
			position: relative;
			width: 100%;
			height: 700px;
			background: url("../img/banner4.jpg") no-repeat 0px -2px;
			background-size: 101% 700px;
		}

		.choose_box {
			position: absolute;
			width: 600px;
			height: 120px;
			background: #fff;
			top: 50%;
			left: 50%;
			transform: translateX(-250px) translateX(-80px);
			border-radius: 10px;
		}

		.demo-table-expand {
			font-size: 0;
		}

		.demo-table-expand label {
			width: 90px;
			color: #99a9bf;
		}

		.demo-table-expand .el-form-item {
			margin-right: 0;
			margin-bottom: 0;
			width: 50%;
		}

		.grid-content {
			line-height: 32px;
		}

		.box {
			display: none;
		}

		.el-table .cell {
			text-align: center;
			font-size: 16px;
			text-overflow: initial;
		}
	</style>
</head>

<body>
	<div id="app">
		<el-menu theme="dark" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
			<el-menu-item index="1">首页</el-menu-item>
			<el-menu-item index="2">国内机票</el-menu-item>
			<el-menu-item index="3">首页酒店</el-menu-item>
			<el-menu-item index="4" @click="backhome">全流程服务</el-menu-item>
			<el-menu-item index="5">关于我们</el-menu-item>
			<el-menu-item index="5">联系我们</el-menu-item>
		</el-menu>
		<div class="bg">
			<el-col :span="4">
				<el-menu default-active="5" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" theme="light">
					<el-menu-item index="1" @click="show(1)">全流程出行计划列表(用户)</el-menu-item>
					<el-menu-item index="2" @click="show(2)">全流程计划模板设置(客服)</el-menu-item>
					<el-menu-item index="3" @click="show(3)">全流程计划监控</el-menu-item>
					<el-menu-item index="4" @click="show(4)">全流程出行计划列表(客服)</el-menu-item>
					<el-menu-item index="5" @click="show(5)">定制出行计划(客服)</el-menu-item>
				</el-menu>
			</el-col>
			<el-col :span="20">
				<el-card class="box-card">
					<div slot="header" class="clearfix">
						<span style="line-height: 36px;">全流程计划详情</span>
					</div>
					<el-tabs type="border-card" @tab-click="initial">
						<el-tab-pane>
							<span slot="label"><i class="el-icon-date"></i>服务需求</span>
							<el-collapse v-model="activeNames" @change="handleChange">
								<el-collapse-item title="送机服务" name="1">
									<ol>
										<li><strong>时间:</strong><span>2017-10-18 16:24:17</span></li>
										<li><strong>时间:</strong><span>2017-10-19 16:24:17</span></li>
										<li><strong>时间:</strong><span>2017-10-20 16:24:17</span></li>
									</ol>
								</el-collapse-item>
								<el-collapse-item title="接机服务" name="2">
									<ol>
										<li><strong>时间:</strong><span>2017-10-18 18:24:17</span></li>
										<li><strong>时间:</strong><span>2017-10-19 18:24:17</span></li>
										<li><strong>时间:</strong><span>2017-10-20 18:24:17</span></li>
									</ol>
								</el-collapse-item>
								<el-collapse-item title="贵宾室服务" name="3">
									<ol>
										<li><strong>时间:</strong><span>2017-10-18 17:24:17</span><strong>机场:</strong><span>流亭机场</span></li>
										<li><strong>时间:</strong><span>2017-10-19 17:24:17</span><strong>机场:</strong><span>流亭机场</span></li>
										<li><strong>时间:</strong><span>2017-10-20 17:24:17</span><strong>机场:</strong><span>流亭机场</span></li>
									</ol>
								</el-collapse-item>
								<el-collapse-item title="CIP服务" name="4">
									<ol>
										<li><strong>时间:</strong><span>2017-10-18 17:24:17</span><strong>机场:</strong><span>流亭机场</span></li>
										<li><strong>时间:</strong><span>2017-10-19 17:24:17</span><strong>机场:</strong><span>流亭机场</span></li>
										<li><strong>时间:</strong><span>2017-10-20 17:24:17</span><strong>机场:</strong><span>流亭机场</span></li>
									</ol>
								</el-collapse-item>
								<el-collapse-item title="租车服务" name="5">
									<ol>
										<li><strong>时间:</strong><span>2017-10-18 17:24:17-2017-10-19 17:24:17</span><strong>车型:</strong><span>豪华型</span></li>
										<li><strong>时间:</strong><span>2017-10-20 17:24:17-2017-10-21 17:24:17</span><strong>车型:</strong><span>6至15座商务</span></li>
									</ol>
								</el-collapse-item>
							</el-collapse>
						</el-tab-pane>
						<el-tab-pane label="全程浏览">
							<div id="time">
								<!-- <button class="initial" @click="initial()">查看服务时间线</button> -->
								<transition-group class="timeline" tag="ul" name="fade">
									<li class="dialog_wrapper" v-for="(data,id) in datas" :key="data" :style="{'transition-delay': id/2+'s'}">
										<div class="dialog">
											<h3 class="year">{{data.year}}
                          <!-- <div class="decor_bar"></div> -->
                      </h3>
											<ul class="content">
												<li class="brief" v-for="item in data.brief">{{item.tag}}</li>
											</ul>
										</div>
									</li>
								</transition-group>
							</div>
						</el-tab-pane>
					</el-tabs>

					<el-card class="box-card">
						<div style="text-align:right;margin-bottom:20px;">
							<el-button type="warning" size="large" @click="add()">新增行程</el-button>
						</div>
						<el-table :data="tableData1" border style="width: 100%">
							<!-- <el-table-column label="行程顺序" width="100">
                                    <template scope="scope">
    <span>{{ scope.row.no }}</span>
    </template>
                                </el-table-column> -->
							<el-table-column label="服务项目">
								<template scope="scope">
    <!-- <p>{{ scope.row.service}}</p> -->
    <el-input v-model="scope.row.service" placeholder="请输入内容" size='mini'></el-input>
    </template>
							</el-table-column>
							<el-table-column label="服务时间">
								<template scope="scope">
    <el-date-picker v-model="scope.row.depDate" type="datetime" placeholder="选择日期时间" size='mini' format="yyyy-MM-dd HH:mm" style="width:150px">

    </el-date-picker>
    </template>
							</el-table-column>
							<el-table-column label="服务地点">
								<template scope="scope">
               <!-- <p style="font-weight:700">{{ scope.row.arrAddress}}</p> -->
               <el-input v-model="scope.row.arrAddress" placeholder="请输入内容" size='mini'></el-input>
               <!-- <p style="color:red">{{ scope.row.arrDate}}</p>
               <p style="color:red">{{ scope.row.arrTime}}</p> -->
    </template>
							</el-table-column>
							<el-table-column label="服务细节">
								<template scope="scope">
    <!-- <span>{{ scope.row.service }}</span> -->
    <el-input v-model="scope.row.service" placeholder="请输入内容" size='mini'></el-input>
    </template>
							</el-table-column>
							<el-table-column label="备注事项">
								<template scope="scope">
    <!-- <span>{{ scope.row.remark }}</span> -->
    <el-input v-model="scope.row.remark" placeholder="请输入内容" size='mini'></el-input>
    </template>
							</el-table-column>
							<el-table-column label="服务费用">
								<template scope="scope">
    <!-- <span>{{ scope.row.remark }}</span> -->
<el-input v-model="scope.row.cost" placeholder="请输入内容" size='mini'></el-input>
    </template>
							</el-table-column>
							<el-table-column label="操作" width='180'>
								<template scope="scope">
    <el-button size="mini" @click="moveUp(scope.$index, scope.row)">上移</el-button>
    <el-button size="mini" @click="moveDown(scope.$index, scope.row)">下移</el-button>
    <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
    </template>
							</el-table-column>
						</el-table>
						<div style="text-align:center;padding:20px 0;">
							<el-button type="success" style="width:160px;line-height:20px;font-size:20px;" @click="submitPlan">提交定制计划</el-button>
						</div>
					</el-card>
					<el-table :data="tableData4" border style="width: 100%" class="box box5">
						<el-table-column label="编号" width="180">
							<template scope="scope">
 <span style="margin-left: 10px">{{ scope.row.orderNo }}</span>
 </template>
						</el-table-column>
						<el-table-column label="通知人姓名" width="180">
							<template scope="scope">
 <span style="margin-left: 10px">{{ scope.row.name }}</span>
 </template>
						</el-table-column>
						<el-table-column label="手机号" width="180">
							<template scope="scope">
 <span style="margin-left: 10px">{{ scope.row.phoneNumb }}</span>
 </template>
						</el-table-column>
						<el-table-column label="邮箱" width="180">
							<template scope="scope">
 <span style="margin-left: 10px">{{ scope.row.email }}</span>
 </template>
						</el-table-column>
						<el-table-column label="创建时间" width="180">
							<template scope="scope">
 <span style="margin-left: 10px">{{ scope.row.date }}</span>
 </template>
						</el-table-column>
						<el-table-column label="操作">
							<template scope="scope">
 <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
 </template>
						</el-table-column>
					</el-table>

				</el-card>
				<el-dialog title="用户信息" :visible.sync="dialogFormVisible" size="tiny">
					<el-form :model="ruleForm">
						<el-form-item label="行程顺序" :label-width="formLabelWidth" prop="no">
							<el-input v-model="ruleForm.no" auto-complete="off"></el-input>
						</el-form-item>
						<el-form-item label="服务项目" :label-width="formLabelWidth" prop="depContent">
							<el-input v-model="ruleForm.service" auto-complete="off"></el-input>
						</el-form-item>
						<el-form-item label="时间" :label-width="formLabelWidth">
							<!-- <el-input v-model="ruleForm.depAddress" auto-complete="off"></el-input> -->
							<el-input v-model="ruleForm.depDate" auto-complete="off"></el-input>
							<el-input v-model="ruleForm.depTime" auto-complete="off"></el-input>
						</el-form-item>
						<el-form-item label="服务地点" :label-width="formLabelWidth">
							<el-input v-model="ruleForm.arrAddress" auto-complete="off"></el-input>
							<!-- <el-input v-model="ruleForm.arrDate" auto-complete="off"></el-input>
      <el-input v-model="ruleForm.arrTime" auto-complete="off"></el-input> -->
						</el-form-item>
						<el-form-item label="服务细节" :label-width="formLabelWidth" prop="service">
							<el-input v-model="ruleForm.service" auto-complete="off"></el-input>
						</el-form-item>
						<el-form-item label="项目费用" :label-width="formLabelWidth" prop="cost">
							<el-input v-model="ruleForm.cost" auto-complete="off"></el-input>
						</el-form-item>
						<el-form-item label="备注事项" :label-width="formLabelWidth" prop="remark">
							<el-input v-model="ruleForm.remark" auto-complete="off"></el-input>
						</el-form-item>
					</el-form>
					<div slot="footer" class="dialog-footer">
						<el-button @click="cancel">取 消</el-button>
						<el-button type="primary" @click="update(),open6()">确 定</el-button>
					</div>
				</el-dialog>
			</el-col>
		</div>
	</div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui@1.4.8/lib/index.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js">
</script>
<script>
	var formData = JSON.parse(localStorage.form);
	new Vue({
		el: "#app",
		data: function() {
			return {
				datas: [],
				activeNames: ["1"],
				dialogFormVisible: false,
				name: formData.name,
				arrDate: formData.date[0].substring(0, 10),
				depDate: formData.date[1].substring(0, 10),
				desc: formData.desc,
				eventName: formData.eventName,
				phone: formData.phone,
				resource: formData.resource,
				resp: formData.resp,
				type: formData.type.join("、"),
				dynamicTags: formData.dynamicTags.join("、"),
				journey: formData.journey,
				dynamicTagsLength: formData.dynamicTags.length,
				formLabelWidth: "80px",
				ruleForm: {},
				tableData5: [{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					}
				],
				tableData1: [{
						no: "行程一",
						depContent: "航班出发",
						depAddress: "流亭机场",
						depDate: "2017-10-18 04:00",
						arrContent: "航班出发",
						arrAddress: "流亭机场",
						arrDate: "2017-10-18 14:00",
						number: "2人",
						stroke: "青岛==>北京==>杭州==>上海==>青岛",
						service: "贵宾室服务",
						remark: "无"
					},
					{
						no: "行程二",
						depContent: "航班出发",
						depAddress: "流亭机场",
						depDate: "2017-10-18 14:00",
						arrContent: "航班出发",
						arrAddress: "流亭机场",
						arrDate: "2017-10-18",
						arrTime: "14:00",
						stroke: "青岛==>北京==>杭州==>上海==>青岛",
						service: "租车服务",
						remark: "无"
					},
					{
						no: "行程三",
						depContent: "航班出发",
						depAddress: "流亭机场",
						depDate: "2017-10-18 14:00",
						arrContent: "航班出发",
						arrAddress: "流亭机场",
						arrDate: "2017-10-18",
						arrTime: "14:00",
						stroke: "青岛==>北京==>杭州==>上海==>青岛",
						service: "无",
						remark: "无"
					},
					{
						no: "行程四",
						depContent: "航班出发",
						depAddress: "流亭机场",
						depDate: "2017-10-18 14:00",
						arrContent: "航班出发",
						arrAddress: "流亭机场",
						arrDate: "2017-10-18",
						arrTime: "14:00",
						stroke: "青岛==>北京==>杭州==>上海==>青岛",
						service: "无",
						remark: "无"
					}
				],
				rules: {
					node: [{
							required: true,
							message: "请输入节点名称",
							trigger: "blur"
						},
						{
							min: 3,
							max: 8,
							message: "长度在 3 到 8 个字",
							trigger: "blur"
						}
					],
					resp: [{
							required: true,
							message: "请输入负责人姓名",
							trigger: "blur"
						},
						{
							min: 3,
							max: 5,
							message: "长度在 3 到 5 个字符",
							trigger: "blur"
						}
					],
					call: [{
							required: true,
							message: "请输入联系电话",
							trigger: "blur"
						},
						{
							min: 8,
							max: 11,
							message: "长度在 8 到 11 个字符",
							trigger: "blur"
						}
					],
					message: [{
						required: true,
						message: "请输入短信模版",
						trigger: "blur"
					}]
				},
				tableData2: [{
						orderNo: "11212121212",
						name: "王小虎",
						number: "2人",
						stroke: "青岛==>北京==>杭州==>上海==>青岛",
						state: "待执行"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						number: "2人",
						stroke: "青岛==>北京==>杭州==>上海==>青岛",
						state: "待执行"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						number: "2人",
						stroke: "青岛==>北京==>杭州==>上海==>青岛",
						state: "待执行"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						number: "2人",
						stroke: "青岛==>北京==>杭州==>上海==>青岛",
						state: "待执行"
					}
				],
				tableData3: [{
						orderNo: "11212121212",
						name: "王小虎",
						founder: "关羽",
						state: "待执行",
						date: "2017-10-01"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						founder: "关羽",
						state: "待执行",
						date: "2017-10-01"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						founder: "关羽",
						state: "待执行",
						date: "2017-10-01"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						founder: "关羽",
						state: "待执行",
						date: "2017-10-01"
					}
				],
				tableData4: [{
						orderNo: "11212121212",
						name: "王小虎",
						phoneNumb: "18888888888",
						email: "250880088@qq.com",
						date: "2017-10-01"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						phoneNumb: "18888888888",
						email: "250880088@qq.com",
						date: "2017-10-01"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						phoneNumb: "18888888888",
						email: "250880088@qq.com",
						date: "2017-10-01"
					},
					{
						orderNo: "11212121212",
						name: "王小虎",
						phoneNumb: "18888888888",
						email: "250880088@qq.com",
						date: "2017-10-01"
					}
				],
				tableData: [{
						birth: "2016-05-02",
						name: "王小虎",
						sex: "男",
						card: "护照",
						cardNub: "1234251231212312",
						indate: "2026-05-02"
					},
					{
						birth: "2016-05-04",
						name: "王小虎",
						sex: "女",
						card: "护照",
						cardNub: "1234251231123122",
						indate: "2026-05-02"
					},
					{
						birth: "2016-05-01",
						name: "王小虎",
						sex: "男",
						card: "护照",
						cardNub: "1234251212312312",
						indate: "2026-05-02"
					},
					{
						birth: "2016-05-03",
						name: "王小虎",
						sex: "女",
						card: "护照",
						cardNub: "1234212312512312",
						indate: "2026-05-02"
					}
				],
				tableData6: [{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					},
					{
						date: "2017-10-02",
						city: "北京",
						node: "机票预订",
						resp: "诸葛亮",
						call: "18888888888",
						message: "张首席机票，已完成预订",
						ps: "蔓越莓蔓越莓蔓越莓"
					}
				]
			};
		},
		methods: {
			add() {
				this.ruleForm = {
					no: "",
					depContent: "",
					depAddress: "",
					depDate: "",
					// depTime: '',
					arrContent: "",
					arrAddress: "",
					arrDate: "",
					// arrTime: '',
					stroke: "",
					service: "",
					remark: "",
					cost: ""
				};
				this.tableData1.push(this.ruleForm);
				// this.dialogFormVisible = true
			},
			open6() {
				this.$message({
					showClose: true,
					message: "已修改",
					type: "success"
				});
			},
			handleDelete(index, row) {
				this.$confirm("此操作将永久删除该行程计划, 是否继续?", "提示", {
						confirmButtonText: "确定",
						cancelButtonText: "取消",
						type: "warning"
					})
					.then(() => {
						this.tableData1.splice(index, 1);
						this.$message({
							type: "success",
							message: "删除成功!"
						});
					})
					.catch(() => {
						this.$message({
							type: "info",
							message: "已取消删除"
						});
					});
			},
			update() {
				this.dialogFormVisible = false;
			},
			cancel() {
				this.dialogFormVisible = false;
			},
			handleEdit(index, row) {
				this.ruleForm = row;
				this.currentIndex = index;
				this.dialogFormVisible = true;
			},
			handleOpen(key, keyPath) {
				console.log(key, keyPath);
			},
			handleClose(key, keyPath) {
				console.log(key, keyPath);
			},
			moveUp: function(index, row) {
				//在上一项插入该项
				// console.log(row);
				// this.tableData1.splice(index-1,0,(this.tableData1[index]));
				// //删除后一项
				// this.tableData1.splice(index+1,1);
				// // item.isShow = false;
				if (index == 0) {
					alert("到顶啦！");
				} else {
					//在上一项插入该项
					this.tableData1.splice(index - 1, 0, this.tableData1[index]);
					//删除后一项
					this.tableData1.splice(index + 1, 1);
				}
			},
			moveDown: function(index, row) {
				if (index == this.tableData1.length - 1) {
					alert("已经是最后一项啦！");
				} else {
					//在下一项插入该项
					this.tableData1.splice(index + 2, 0, this.tableData1[index]);
					// 删除前一项
					this.tableData1.splice(index, 1);
				}
			},
			show(index) {
				switch (index) {
					case 1:
						window.location.href = "itinerary.html";
						break;
					case 2:
						window.location.href = "modification.html";
						break;
					case 3:
						window.location.href = "steps.html";
						break;
					case 4:
						window.location.href = "costlist.html";
						break;
					case 5:
						window.location.href = "traveler.html";
						break;
					default:
				}
			},
			details() {
				window.location.href = "details.html";
			},
			inputting() {
				window.location.href = "inputting.html";
			},
			mod() {
				window.location.href = "modification.html";
			},
			step() {
				window.location.href = "step.html";
			},
			submitPlan() {
				window.location.href = "traveler.html";
			},
			backhome() {
				window.location.href = "index.html";
			},
			initial() {
				$(".dialog_wrapper").hide();
				this.datas = [];
				this.datas = [{
						year: "2017-10-21 14：00",
						brief: [{
							tag: "送机服务"
						}]
					},
					{
						year: "2017-10-22 14：00",
						brief: [{
							tag: "接机服务"
						}, {
							tag: "贵宾室服务"
						}]
					},
					{
						year: "2017-10-23 14：00",
						brief: [{
							tag: "送机服务"
						}]
					},
					{
						year: "2017-10-24 14：00",
						brief: [{
							tag: "接机服务"
						}]
					},
					{
						year: "2017-10-25 14：00",
						brief: [{
							tag: "接机服务"
						}]
					},
					{
						year: "2017-10-24 14：00",
						brief: [{
							tag: "接机服务"
						}]
					},
					{
						year: "2017-10-24 14：00",
						brief: [{
							tag: "接机服务"
						}]
					}
				];
			}
		}
	});
</script>

</html>
